/* #fb426e #0172ac #f07e26 #f2d809 */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html.md-theme-default {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
}

body{
    font: 400 14px Roboto, sans-serif;
    background: none;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
    &:disabled{
        opacity: 0.5;
    }
}

button {
    cursor: pointer;
    &:disabled{
        opacity: 0.5;
    }
}

.md-card {
    box-shadow: 0 0 3px #00000029;
    border-radius: 4px;
}

.page-container {
    background-color: #f9f9f9;
}